/* Base styles (extra small devices - mobile) */
html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1, 2;
  font-size: 1rem;
  color: #444444;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #22d3ee;
}

a:hover A:focus {
  color: #0ea5e9;
}
#navbar {
  padding: 8px;
  margin: 0;
}

#logo-with-text {
  display: none;
}

#banner {
  object-fit: cover;
  height: 120px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #222222;
  margin: 12px 0;
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}

#description {
font-size: 1.25rem;
}


#team {width: 100%;}

#team-image {
  border-radius: 5px;
  width: 100%
}

/* Small devices (tablets) */
@media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }
  #Logo {
    display: none;
  }
  #logo-with-text {
    display: block;
  }
  #banner {
    height: 220px;
  }
  h1{
    margin: 16px 0;
  }

  #about {
  flex-direction: row;
    max-width: 800px;
  }
  
}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
  #banner {
    height: 280px;
  }

  #description {
    width: 50%;
    padding-right: 8px;
  }

  h1{margin: 20px 0;}
}










/* Large devices (desktops) */
@media screen and (min-width: 992px) {
  #banner {
    height: 320px;
  }
}








/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
  
}

/*







#application{
  margin: 0% auto;
max-width: 800px;
padding: 0 8px;
}

#application-form label {
  font-weight: 600;
}

#application-form  input, select, textarea{
  padding: 3px;
  font-size: 1.25rem;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid;
  width: 250px;  
  background-color: white;
  box-sizing: border-box;
  font-family: Roboto;
}


#application-form textarea{
  width: 500px;
}

#application-form input[type="checkbox"] {
  padding:0px;
  margin-left: 0px;
  border-left: 0px;
  width: 15px;
}

#application-form input[type="submit"]{
  width: 180px;
  background-color: #3B82F6;
  color: white;
  border: black solid 2px;
  cursor: pointer;
}


#submit-buttom{
text-shadow:  
-1px -1px 0 black,  
1px -1px 0 black,
-1px  1px 0 black,
1px  1px 0 black,
-1px  0   0 black,
1px  0   0 black,
0   -1px 0 black,
0    1px 0 black;}


#application-form div {
  margin: 16px
}



#banner {
   width: 100%; 
}






#jobs-table{
  width: 100%;
  border: 2px solid gray;
  border-collapse: collapse;
}

#jobs-table tr:nth-child(odd){
  background-color: whitesmoke;
}

.jobs-header-row th{
  border: 1px solid gray;
  padding: 8px;
  background-color: lightgrey;
  text-align: center;

}
.jobs-data-row td{
  border: 1px solid gray;
  padding: 8px;
}
h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}

.apply {
  float: right;
}

#footer {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;  
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: gray;
  font-size: 0.75rem;
}

#city{
  width: 15%;}

#country{
 width: 15%;}
*/
